<label>First Name:</label><br>
{{input value=firstName}}<br><br>

<label>Last Name:</label><br>
{{input value=lastName}}<br><br>

<label>Phone Number:</label><br>
{{input value=phoneNumber}}<br><br>

<label>Mobile Number:</label><br>
{{input value=mobileNumber}}<br><br>

<button {{action 'createContact'}}>
  Create Contact
</button>
